<div>
	<h1>Touren</h1>
	<div>
		<form class="form-inline">
    		{{view Ember.Select  contentBinding="EmberApp.weatherCondition" id="year" class="input-small"}}
    	   	{{view Ember.Select  contentBinding="EmberApp.weatherCondition" id="month" class="input-small"}}
		    <button type="submit" class="btn">Sign in</button>
		</form>
	</div>
	<div style="overlfow:auto">
		<div id="toursList" class="list-group syca-list-group">
			{{#each tour in model }}
				{{#linkTo 'tour.details' tour class="list-group-item"}}
					<h4 class="list-group-item-heading"> {{tour.description}} : Name</h4>
					<p class="list-group-item-text"> {{tour.id}} : ID</p>
				{{/linkTo}}
			{{else}}
			<p>Keine Einträge vorhanden</p>
			{{/each}}
		</div> <!-- /.list-group -->
	</div>
</div>