<div id="messageView" {{bind-attr class="view.visible::hidden"}}>
    {{#if view.visible}} 
    <div class="messageWrapper">
        {{#if view.success}}
        <div class="success">
    	   <p>Eintrag wurde erfolgreich gespeichert.</p>
    	   <button type="button" class="btn btn-default btn-xs" {{action hideMsg target="view"}}>
    	       <span class="glyphicon glyphicon-remove"></span>
    	    </button>
        </div><!-- /.success -->
        {{else}}
        <div class="error">
    	   <p>Eintrag konnte nicht gespeichert werden.<span class="errorMessage"> {{view.errMsg}}</span></p>
    	   <button type="button" class="btn btn-default btn-xs" {{action hideMsg target="view"}}>
    	   	   <span class="glyphicon glyphicon-remove"></span>
    	   </button>
        </div><!-- /.error -->
        {{/if}}
    </div><!-- /.messageWrapper -->
    {{/if}}
</div><!-- /#messageview -->